<h1>Listing series_scenarios</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Set Name</th>
    <th>Scenario Category Name</th>
    <th>Scenario file</th>
		<th>Number of Related Tasks</th>
  </tr>

<% @series_scenarios.each do |series_scenario| %>
  <tr>
    <td><%= link_to series_scenario.description, series_scenario %></td>
    <td><%= series_scenario.setname %></td>
		<td><%= series_scenario.category_name %></td>
    <td><%= series_scenario.scenario_file %></td>
		<td><%= series_scenario.series_log_items.count %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Functional scenario', new_series_scenario_path %>
