<%#= form_for(@visit) do |f| %>
<%= simple_form_for(@visit) do |f| %>
  <% if @visit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visit.errors.count, "error") %> prohibited this visit from being saved:</h2>

      <ul>
      <% @visit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	  <%= f.input :visit_number %>
		<%= f.input :scan_note %>
	
		<%= f.simple_fields_for :visit_diagnoses do |visit_dx_fields| %>
			<%#= f.inputs :diagnosis, :for => :visit_diagnosis do  %>
			<%= visit_dx_fields.association :diagnosis, :collection => Diagnosis.all, :label_method => :characterization %>
			<%= visit_dx_fields.association :diagnosis_method, :collection => DiagnosisMethod.all, :label_method => :consensus_method %>
			<%= visit_dx_fields.input :diagnosis_date, :as => :date, :include_blank => true %>
			<%= visit_dx_fields.association :diagnoser, :collection => Researcher.all.sort_by(&:initials), :label_method => :initials %>
		<% end %>
		
		<%= f.collection_check_boxes :enrollment_ids, @visit.participant.enrollments, :id, :enumber %>

	<%= f.button :submit %>


	<%# end %>
	

  <!-- <div class="field">
    <%= f.label :visit_number %><br />
    <%= f.text_field :visit_number %>
  </div>
  <div class="field">
    <%= f.label :scan_note %><br />
    <%= f.text_area :scan_note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div> -->
<% end %>
