<h1>Listing visits</h1>

<table>
	<tfoot><tr><td colspan="5"><%= paginate @visits %></td></tr></tfoot>
	<tr>
		<th><%= sort_link @search, :id %></th>
		<th><%= sort_link @search, :visit_number %></th>
		<th><%= sort_link @search, :appointments_appointment_date, "Appointments" %></th>
		<th>Diagnosis<%#= sort_link @search, :current_diagnosis, "Diagnosis" %></th>
		<th>Scan note</th>
  </tr>

<% @visits.each do |visit| %>
	<tr>
		<td><%= link_to visit.id, visit %></td>
		<td><%= visit.visit_number %></td>
		<td><%= visit.appointments.collect{|a| link_to a.appointment_date, a }.join(', ').html_safe %></td>
		<td><%= visit.current_diagnosis %></td>
		<td><%= visit.scan_note %></td>
	</tr>
<% end %>
</table>

<br />

<%= link_to 'New Visit', new_visit_path %>
