<h1>Listing scanner_hardwares</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Hardware group</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @scanner_hardwares.each do |scanner_hardware| %>
  <tr>
    <td><%= scanner_hardware.name %></td>
    <td><%= scanner_hardware.hardware_group %></td>
    <td><%= link_to 'Show', scanner_hardware %></td>
    <td><%= link_to 'Edit', edit_scanner_hardware_path(scanner_hardware) %></td>
    <td><%= link_to 'Destroy', scanner_hardware, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Scanner hardware', new_scanner_hardware_path %>
