<p id="notice"><%= notice %></p>

<p>
  <b>Initials:</b>
  <%= @participant.initials %>
</p>

<p>
  <b>Wrapnum:</b>
  <%= @participant.wrapnum %>
</p>

<p>
  <b>Reggieid:</b>
  <%= @participant.reggieid %>
</p>

<p>
  <b>Notes:</b>
  <%= @participant.notes %>
</p>

<p>
  <b>Quality redflag:</b>
  <%= @participant.quality_redflag %>
</p>

<%= render :partial => 'enrollments/enrollments_ul', :object => @participant.enrollments %>

<%= render :partial => 'participant_demographics' if @participant.demographic  %>



<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
