<%= form_for(@scan_task) do |f| %>
  <% if @scan_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scan_task.errors.count, "error") %> prohibited this scan_task from being saved:</h2>

      <ul>
      <% @scan_task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :appointment %><br />
    <%= f.text_field :appointment %>
  </div>
  <div class="field">
    <%= f.label :functional_scenario %><br />
    <%= f.text_field :functional_scenario %>
  </div>
  <div class="field">
    <%= f.label :scan_series %><br />
    <%= f.text_field :scan_series %>
  </div>
  <div class="field">
    <%= f.label :series_order %><br />
    <%= f.text_field :series_order %>
  </div>
  <div class="field">
    <%= f.label :preday_order %><br />
    <%= f.text_field :preday_order %>
  </div>
  <div class="field">
    <%= f.label :pfile %><br />
    <%= f.text_field :pfile %>
  </div>
  <div class="field">
    <%= f.label :has_concerns %><br />
    <%= f.check_box :has_concerns %>
  </div>
  <div class="field">
    <%= f.label :concerns %><br />
    <%= f.text_field :concerns %>
  </div>
  <div class="field">
    <%= f.label :functional_note %><br />
    <%= f.text_field :functional_note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
