<p id="notice"><%= notice %></p>

<p>
  <b>Appointment:</b>
  <%= link_to @scan_task.appointment_date, @scan_task.appointment %>
</p>

<p>
  <b>Functional scenario:</b>
  <%= link_to @scan_task.functional_scenario.description, @scan_task.functional_scenario unless @scan_task.functional_scenario.blank? %>
</p>

<p>
  <b>Scan series:</b>
  <%= @scan_task.scan_series %>
</p>

<p>
  <b>Series order:</b>
  <%= @scan_task.series_order %>
</p>

<p>
  <b>Preday order:</b>
  <%= @scan_task.preday_order %>
</p>

<p>
  <b>Pfile:</b>
  <%= @scan_task.pfile %>
</p>

<p>
  <b>Has concerns:</b>
  <%= @scan_task.has_concerns %>
</p>

<p>
  <b>Concerns:</b>
  <%= @scan_task.concerns %>
</p>

<p>
  <b>Functional note:</b>
  <%= @scan_task.functional_note %>
</p>


<%= link_to 'Edit', edit_scan_task_path(@scan_task) %> |
<%= link_to 'Back', scan_tasks_path %>
