<%= form_for(@functional_set) do |f| %>
  <% if @functional_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@functional_set.errors.count, "error") %> prohibited this functional_set from being saved:</h2>

      <ul>
      <% @functional_set.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :setname %><br />
    <%= f.text_field :setname %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
