<h1>Listing functional_sets</h1>

<table>
  <tr>
    <th>Setname</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @functional_sets.each do |functional_set| %>
  <tr>
    <td><%= functional_set.setname %></td>
    <td><%= link_to 'Show', functional_set %></td>
    <td><%= link_to 'Edit', edit_functional_set_path(functional_set) %></td>
    <td><%= link_to 'Destroy', functional_set, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Functional set', new_functional_set_path %>
