<h1>Listing appointments</h1>

<table>
	<tfoot><tr><td colspan="7"><%= paginate @appointments %></td></tr></tfoot>
  <tr>
		<th><%= sort_link @search, :visit_enrollments_enumber, "Enum" %></th>
    <th><%= sort_link @search, :visit_visit_number, "Visit" %></th>
    <th><%= sort_link @search, :appointment_date %></th>
    <th>Appointment comment</th>
    <th><%= sort_link @search, :researcher_initials, "Researcher" %></th>
		<th><%= sort_link @search, :mri_scan_study_rmr, "MRI RMR" %></th>
		<th>Series</th>
		<!-- <th>Metainfos</th> -->
		<!-- <th>ScanLogs</th> -->
		<th>Agreement</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @appointments.each do |appointment| %>
  <tr>
		<td><%= appointment.enumbers %></td>
    <td><%= appointment.visit_number if appointment.visit %></td>
    <td><%= appointment.appointment_date %></td>
    <td><%= appointment.appointment_comment %></td>
    <td><%= link_to appointment.researcher_initials, appointment.researcher if appointment.researcher %></td>
		<td><%= appointment.study_rmr if appointment.mri_scan %></td>
		<td><%= appointment.series.count %></td>
		<td><%#= appointment.series_metainfos.count %></td>
		<td><%#= appointment.series_log_items.count %></td>
		<td><%= display_agreement(appointment.total_series_description_agreement) if appointment.total_series_description_agreement  %></td>
    <td><%= link_to 'Show', appointment %></td>
    <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
    <td><%= link_to 'Destroy', appointment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Appointment', new_appointment_path %>

<%= simple_form_for @search do |f| %>
	<%= f.input :visit_enrollments_enumber_like, :required => false, :label => "Enum" %>
	<%= f.input :visit_enrollments_enumber_is_not_null, :as => :boolean, :label => "Enum isn't null" %>
	<%= f.input :appointment_date_eq, :required => false, :label => "Date" %>
	<%= f.input :mri_scan_study_rmr_like, :required => false, :label => "RMR" %>
	<%= f.button :submit, "Search" %>
<% end %>
