<p id="notice"><%= notice %></p>
<p>
	<b>Enrollments:</b>
	<%= @appointment.enumbers %>
</p>
<p>
  <b>Visit:</b>
  <%= link_to @appointment.visit_number, @appointment.visit unless @appointment.visit.blank? %>
</p>

<p>
  <b>Appointment date:</b>
  <%= @appointment.appointment_date %>
</p>

<p>
  <b>Appointment comment:</b>
  <%= @appointment.appointment_comment %>
</p>

<p>
  <b>Researcher:</b>
  <%= link_to @appointment.researcher_initials, @appointment.researcher unless @appointment.researcher.blank? %>
</p>

<!-- Show MRI Details -->
<%= render @appointment.mri_scan unless @appointment.mri_scan.blank? %>

<!-- Show Appointment Details -->
<table>
	<tr>
		<th>Order</th>
		<th>Pfile</th>
		<th>Metainfo</th>
		<th>ScanLog</th>
		<th>Setname</th>
		<th>Description Agreement</th>
	</tr>
<%= render @series %>
	<tfoot><tr><td colspan="5">Total Agreement:</td><td><%= display_agreement(@appointment.total_series_description_agreement) unless @appointment.total_series_description_agreement.blank?  %></td></tr></tfoot>
</table>



<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
