<h1>Listing functional_scenarios</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Functional set</th>
    <th>Intended reps</th>
    <th>Scenario file</th>
		<th>Number of Related Tasks</th>
  </tr>

<% @functional_scenarios.each do |functional_scenario| %>
  <tr>
    <td><%= link_to functional_scenario.description, functional_scenario %></td>
    <td><%= link_to functional_scenario.setname, functional_scenario.functional_set %></td>
    <td><%= functional_scenario.intended_reps %></td>
    <td><%= functional_scenario.scenario_file %></td>
		<td><%= functional_scenario.scan_tasks.count %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Functional scenario', new_functional_scenario_path %>
