<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @functional_scenario.description %>
</p>

<p>
  <b>Functional set:</b>
  <%= link_to @functional_scenario.setname, @functional_scenario.functional_set %>
</p>

<p>
  <b>Intended reps:</b>
  <%= @functional_scenario.intended_reps %>
</p>

<p>
  <b>Scenario file:</b>
  <%= @functional_scenario.scenario_file %>
</p>

<p>
	<b><%= pluralize @functional_scenario.series_log_items.count, "Series Log Item" %>:</b><br/>
	<ul>
		<% @functional_scenario.series_log_items.each do |item| %>
			<li><%= link_to item.position, item.series %>: <%= item.description  %></li>
		<% end %>
	</ul>
</p>

<%= link_to 'Edit', edit_functional_scenario_path(@functional_scenario) %> |
<%= link_to 'Back', functional_scenarios_path %>
