<h1>Listing series</h1>

<table>
  <tr>
    <th>Order</th>
    <th>Appointment</th>
    <th>Pfile</th>
		<th>Scenario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @series.each do |series| %>
  <tr>
    <td><%= series.order %></td>
		<td><%= link_to series.appointment_date, series.appointment unless series.appointment.blank? %></td>
    <td><%= series.pfile %></td>
		<td><%= series.series_log_items.collect{|item| link_to item.description, item}.join(", ").html_safe %></td>
    <td><%= link_to 'Show', series %></td>
    <td><%= link_to 'Edit', edit_series_path(series) %></td>
    <td><%= link_to 'Destroy', series, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Series', new_series_path %>
