<p id="notice"><%= notice %></p>

<p>
  <b>Appointment:</b>
  <%= link_to @series.appointment_date, @series.appointment %>
</p>

<p>
  <b>SeriesSet:</b>
  <%= link_to @series.setname, @series.series_set if @series.series_set %>
</p>


<p>
  <b>Order:</b>
  <%= @series.order %>
</p>

<p>
  <b>Pfile:</b>
  <%= @series.pfile %>
</p>


<% unless @series.series_log_items.blank? %>
<%= render @series.series_log_items %>
<% else %>
<h3>No Log Items</h3>
<% end %>

<% unless @series.series_metainfo.blank? %>
<%= render @series.series_metainfo  %>
<% else %>
<h3>No Series Metainfo</h3>
<% end %>

<%= link_to 'Edit', edit_series_path(@series) %> |
<%= link_to 'Back', series_index_path %>
